<div class="sect-3">
<div class="grid grid-cols-2 textFeatures">
  <div style="margin-left: auto" class="repDiv ml-auto">
    <div class="textUpper">
      <div style="height: 74px">
      <img src="assets/images/logos/discord.svg" width="218px" class="ml-auto mr-auto">
      </div>
      <h5>Join Discord</h5>
      <div class="textLower"><p>Our Discord community is one of our first point-of-contacts towards our community and is a great tool for us to find out what you,
      the players suggest.</p>

      <div>
        <div style="margin-top: 9px;
    position: absolute;
    left: 29%;
    width: fit-content;">
          <p class="float-bub" style="background-color: #43b581"></p><p class="inline">{{this.presenceCount | number}}
          Online </p> <p class="float-bub"
                         style="background-color: #b9bbbe; margin-left: 2px"></p><p class="inline">{{this.memberCount | number}} Members</p>
        </div>

        <a href="https://discord.gg/Tr2DxFh" target="_blank" referrerpolicy="no-referrer">
          <button style="margin-top: 44px!important" class="mt-7 primary-btn">Join Discord</button>
        </a>
      </div>
      </div>
    </div>
  </div>

  <div class="repDiv mr-auto">
    <div class="textUpper">
      <div style="height: 74px">
      <img src="assets/images/logos/patreon.png" width="218px" class="ml-auto mr-auto">
      </div>
      <h5>Support us on Patreon</h5>
      <div class="textLower"><p>We tremendeously appreciate all our Patreon supporters helping to make Renown become a greater success.
        Patreon members get exclusive features.</p>
        <a href="https://www.patreon.com/Projectrenown" target="_blank" referrerpolicy="no-referrer">
          <button style="margin-top: 44px!important" class="mt-7 primary-btn">View Patreon</button>
        </a>
      </div>
    </div>
  </div>
</div>

</div>
