.sect-3 {
  padding-bottom: 9rem;
  padding-top: 9rem;
  background-color: #181818;
}

.float-bub {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 4px;
  vertical-align: -1px;
}
