<div class="grid grid grid-cols-3 ml-14 mr-14 pt-5">

  <div class="mt-5">

    <a href="https://www.rdbkstudios.com/" target="_blank" referrerpolicy="no-referrer">
      <span class="ml-14">RDBK Studios</span>
    </a>
    <span class="ml-14 cursor-pointer" (click)="shared.openDialog()">Mechanics</span>
    <a href="https://www.rdbkstudios.com/blog" target="_blank" referrerpolicy="no-referrer">
    <span class="ml-14">Devblog</span>
    </a>
  </div>


  <div class="ml-auto mr-auto mt-2">
    <h1 class="text-4xl">RENOWN</h1>
  </div>


  <div class="mt-5 grid grid-cols-2">
    <span>Releasing on PC</span>
    <a href="https://www.indiegogo.com/projects/renown--2#/" target="_blank" referrerpolicy="no-referrer">
    <span><img src="assets/images/logos/indiegogo.svg" width="100px" style="margin-top: 6px"></span>
    </a>
  </div>

</div>
