<div #content class="pz-container" 
	[class.pz-dragging]="isDragging">
	<ng-content></ng-content>
</div>

<div class="pz-zoom-button"
	*ngIf="zoomButton && !isMobile"
	(click)="toggleZoom()"
	[class.pz-zoom-out]="scale > 1">
</div>