.sect-2 {
  background: linear-gradient(to bottom left, #181818, #0b0b0b);
  position: relative;
  overflow: hidden;
}

.sect-2-rep {
  background: linear-gradient(180deg,#242324 0,rgba(30,32,32,0));
  box-shadow: 0 0 1px rgb(0 0 0 / 2%), 0 4px 8px rgb(0 0 0 / 2%), 0 16px 24px rgb(0 0 0 / 2%), 0 24px 32px rgb(0 0 0 / 2%);
  will-change: transform;
}
