<div class="sect-2">
  <div class="haze-test sect-2-haze-url"></div>
    <div class="align-text pt-8"></div>
    <div class="ml-24 mr-24 relative">
      <div class="grid grid-cols-2">

        <div class="ml-14 mr-14" style="max-width: 430px">
          <img src="../../assets/images/game/compressed_small/14.jpg" width="486px" height="273px" alt="Build and customize your own castle">
          <h3 class="mt-6 text-xl">
            Build and customize your
            <br>
            own castle
          </h3>

          <p class="mt-6 text-base">
           There are three categories of buildings, each filling a specific role in game play, these are External walls, Village buildings and Castle buildings each following the tiered progression of the banner.
          </p>

          <button style="margin-top: 44px!important" class="mt-7 primary-btn" (click)="shared.openDialog()">Explore buildings</button>

        </div>

        <div class="ml-14 mr-14" style="max-width: 430px">
          <img src="../../assets/images/game/compressed_small/9.jpg" width="486px" height="273px" alt="Fight for your survival and become renowned">
          <h3 class="mt-6 text-xl">
            Fight for your survival
            <br>
            and become renowned
          </h3>

          <p class="mt-6 text-base">
            The underlying philosophy behind the fighting system is that it is easy to learn and hard to master.
            The system consists of several attacks the player can undertake. The system also allows for a “Combo” attack by initiating an attack at the end of another.
          </p>

          <button style="margin-top: 44px!important" class="mt-7 primary-btn" (click)="shared.openDialog()">Explore mechanics</button>
        </div>
      </div>

      <div class="h-80 ml-14 mt-24">

        <h4>Explore the art gallery</h4>

        <carousel width="70%" [arrows]="false" lightbox-group>
          <div class="carousel-cell" *ngFor="let i of [].constructor(16); index as num" >
            <img
              [src]="'../../assets/images/game/compressed_small/' + (+num + 1) + '.jpg'"
              [fullImage]="{path: '../../assets/images/game/' + (+num + 1) + '.webp'}"
              lightbox width="400px">
          </div>
        </carousel>

      </div>

    </div>
  </div>
