@import 'variables'

\:host
  position: relative
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%
  user-select: none
  z-index: 1
  transform-origin: top left
  box-sizing: border-box
  .carousel-container
    overflow: hidden
    width: 100%
    height: 100%
    cursor: grab
  .carousel-container.carousel-moving
    cursor: grabbing
  .carousel-counter
    text-align: right
    position: absolute
    z-index: 30
    transition: opacity 200ms
    top: 8px
    right: 24px
    border-radius: 13px
    background-color: rgba(23, 37, 68, 0.3)
    font-size: 11px
    color: #ffffff
    padding: 5px 7px
    line-height: initial
  ::ng-deep
    .carousel-cells
      transition: transform 200ms
      width: 100%
      height: 100%
      display: block
      will-change: transform
      .carousel-cell.swiper-prev-image
        transform: translate3d(-100%, 0, 0)
      .carousel-cell.swiper-next-image
        transform: translate3d(100%, 0, 0)
      .carousel-cell
        width: 100%
        height: 100%
        position: absolute
        overflow: hidden
        img,
        video
          width: 100%
          height: 100%
          position: relative
          object-fit: contain
        img.swiper-hide
          display: none
        .carousel-play
          position: absolute
          top: 0
          left: 0
          bottom: 0
          right: 0
          z-index: 1

  .carousel-arrow
    width: 40px
    height: 40px
    background-color: #fff
    background-repeat: no-repeat
    background-size: 31px
    background-position: center
    border-radius: 100px
    position: absolute
    top: 50%
    margin-top: -20px
    z-index: 10
    cursor: pointer
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15)
  .carousel-arrow-prev
    left: 10px
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMTUuNDEgMTYuNTlMMTAuODMgMTJsNC41OC00LjU5TDE0IDZsLTYgNiA2IDYgMS40MS0xLjQxeiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==)
  .carousel-arrow-next
    right: 10px
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNOC41OSAxNi41OUwxMy4xNyAxMiA4LjU5IDcuNDEgMTAgNmw2IDYtNiA2LTEuNDEtMS40MXoiLz48cGF0aCBkPSJNMCAwaDI0djI0SDBWMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=)
  .carousel-arrows-outside
    .carousel-arrow-prev
      left: -60px
    .carousel-arrow-next
      right: -60px
  .carousel-dark-arrows
    .carousel-arrow
      filter: invert(1)
  .carousel-arrow-disabled
    cursor: default
    opacity: 0.5
  .carousel-dots
    position: absolute
    left: 0
    right: 0
    bottom: 0
    z-index: 10
    text-align: center
    .carousel-dot
      display: inline-block
      border: 2px solid #fff
      border-radius: 100px
      margin: 4px
      width: 8px
      height: 8px
    .carousel-dot-active
      background-color: #fff
