<mat-accordion>
  <mat-expansion-panel class="primary-btn">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Combat
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h3>Attacking</h3>
    <p>The system consists of several attacks the player can undertake. The system also allows for a “Combo” attack by initiating an attack at the end of another.
      <br>
      These attacks include;
      <br>
      Primary Slash  - Reverse Slash
      <br>
      Primary Overhead - Reverse Overhead
      <br>
      Primary Stab -  Reverse Stab
      <br>
      Primary Underarm - Reverse Underarm
      <br>
      By using a modifier key the side the attack starts on will be switched</p>

    <h3>Dragging</h3>
    <p>By moving your mouse along the line of an attack that has already been initiated you can either speed/slow the attack up/down depending on the direction. This mechanic would be used to trick your opponent into committing to a block too early or too late resulting in their block either dropping before the attack lands or vice versa.</p>

    <h3>Feinting</h3>
    <p>Another aspect of melee combat is the ability for players to “feint” an attack. This feature functions by allowing players to cancel an attack, before it has entered into a “committed” swinging or stabbing state. The point of this feature is the “throw off” timing from a player's block. If an enemy player blocks too soon, they are left open and vulnerable to

      attack.</p>

    <h3>Note</h3>
    <p>We are aware of the issues that arise with feinting mechanics and that they can usually become too overpowered, we hope to solve these issues with weapon sizes altering the effectiveness of feinting, eliminating any ability to one shot someone after a feint.</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="primary-btn">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Building
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>There are three categories of buildings, each filling a specific role in game play, these are External walls, Village buildings and Castle buildings each following the tiered progression of the banner.</p>
    <br>
    <p>External Walls</p>
    <br>
    <p>This building type is used to encompass the players base, and section certain areas off. This is the first line of defense against raiders and stops any enemy players being able to easily enter the players claimed area.
      <br>
      As the player progresses through the tiers and upgrades their external walls, they will increase in size and strength as well as unlocking optional upgrades.
      <br>
      these upgrades include things such as arrow loops, gates, murder holes, oil pots and much more. </p>
    <br>
    <p>Village Buildings</p>
    <br>
    <p>This building type consists of prefab buildings that are used to access the workers and crafting systems, there are many different types of worker buildings which can be unlocked at different tiers of progression opening players up to a wide range of new game play options.
      <br>
      these are covered in detail in Worker Systems</p>
    <p>Castle Buildings</p>
    <br>
    <p>This building type is used to create the main home for players and is what will be used to protect their banner as well as their re-spawn points.
    <br>
      this section of the players base could be considered as the most important part, they have complete control over how they wish it to look. </p>
    <br>
    <p>
      To give the player this freedom the castle will be built in a grid system using different size pieces that consist of foundations, doorways, windows and walls among others.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel class="primary-btn">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Raiding
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Raiding - Pillaging/Sieging
      <br>
      One problem renowns raiding system seeks to avoid is to discourage players from primarily attacking their opponents when they are offline, without entirely preventing this option. As such players will be able to “Pillage” an enemy.
    </p>
    <br>
    <p>
      Pillaging
      <br>
      This option for raiding allows players to attack an enemy at any time, if they are online or offline. However players are limited in key areas of damage. Firstly the attacking players can only damage the outer walls, gates and village areas of the base, to a limited extent. This will be balanced so that players can damage walls enough to gain entry, but not destroy them. This is likewise for gates and gate houses. Players will also be able to damage village structures, rendering them inoperable until repaired, but not removing the work done.
    </p>
    <br>
    <p>Sieging
    <br>
      If someone wishes to take full control of an enemy's banner and own their land or just turn their castle to rubble the Enemy must have a certain number of players online, if they dont have the required numbers online they must first declare war, to declare war at least one player from the group you are planning on attacking must be currently online at the time of the declaration. The declaring group must set a time for the war to take place, the minimum time before the war can take place is one hour from the point of declaration all the way up to a day or two.
      <br>
      Once the war commences whether or not the group is online the attacking group has full ability to destroy and or take control of their banner resulting in assimilation of that kingdom into their own.
    </p>
    <br>
    <p>Two groups that are currently at war do not gain negative renown (see Renown System) for killing each other during that time and any renown gained is considered honorable. </p>

    <img src="assets/images/game/gifs/raiding_2.gif" class="w-1/2 self-center">
  </mat-expansion-panel>
  <mat-expansion-panel class="primary-btn">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Renown System
      </mat-panel-title>
    </mat-expansion-panel-header>
  <p>
    The Renown system seeks to replicate medieval honour in a way players can collect. Certain statistics are recorded through player actions (combat skills, building, farming), feats (Server firsts) and group activities (Conquests, Land holdings, group participation). These stats are used to represent a player or groups overall standing is various elements of gameplay. For example, some players/groups may only care about achieving combat renown, while others might care about farming/building renown.
  <br>
    These stats are then presented to all players in multiple, clear ways. Firstly the main market will always have a top selection of players on display. This could be through placement of clan logos, and billboards displaying the groups/individuals top renowned achievements.
    Likewise players will always have access to a renown screen, in the UI. This will feed players with information regarding their own position and that of others.
  <br>
    Another option for the renown system is to add a progression system based on moral activities undertaken by the player. Certain actions within the game can be designated as honourable or otherwise.
    For example, players will have the option to “challenge” other players before combat, as opposed to ambushing or surprising them. If the player then wins the fight they gain more “honourable renown” then they otherwise would have.
  <br>
    Based on this system of moral/honour driven interaction, players then progress down either a moral or amoral set of cosmetic gear choices, alongside titles and other cosmetic effects. For example limiting certain skins for items to only being “amoral” while other items are only for honourable players. Another example would be to reserve certain player titles (Count, Emperor ect) based on renown standings.
  <br>
    That said, the renown system will in no way change or hinder the players ability to do what they wish to do, it is only a tracker to add a competitive sense to the open world game that is renown. Likewise it seeks to heighten the connection the player feels with their character, group and the game as a whole.
  </p>

  </mat-expansion-panel>
</mat-accordion>

<div mat-dialog-actions>
  <button (click)="onNoClick()" class="primary-btn">Close</button>
</div>
