.m-list {
  position: relative;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
  -webkit-mask-image: -webkit-linear-gradient(top, white 20%, transparent 99%);
  inset: 0px;
  filter: brightness(40%);
  background-size: cover;
  background-position: center center;
}
