<div class="main-header pb-32 grain sect-1">
  <div class="haze-test sect-1-haze-url low-blur"></div>

  <app-header class="relative"></app-header>

<div class="mt-24 ml-24 mr-24">

  <div class="grid grid-cols-2">

  <div class="relative">
  <h2 class="text-5xl">
    FAST PACED
    <br>
    SURVIVAL WORLD
  </h2>

  <p class="mt-12 max-w-lg">
    Project Renown is a multiplayer survival experience set in a vast and ever changing medieval world.
    At its core, Renown is a first person pvp medieval fighter, with a strong emphasis on competitive skill based combat.
  </p>

  <a href="https://discord.gg/Tr2DxFh" target="_blank" referrerpolicy="no-referrer">
  <button style="margin-top: 44px!important" class="mt-7 primary-btn">Join Discord</button>
  </a>

    <a href="https://www.indiegogo.com/projects/renown--2#/" target="_blank" referrerpolicy="no-referrer">
      <button style="margin-top: 44px!important" class="mt-7 ml-14 primary-btn">Indegogo Crowdfunding</button>
    </a>

  </div>
    <div class="ml-auto mr-auto relative">
    <youtube-player
      videoId="AaRzgs4hHyQ"
      suggestedQuality="highres"
      [width]="750">
    </youtube-player>
    </div>

</div>

  <div class="pb-30"></div>
</div>

</div>


<app-second-section></app-second-section>

<app-third-section></app-third-section>

<!--<app-mailing-list></app-mailing-list>-->

<!--<app-footer></app-footer>-->
