@import 'variables'

crystal-lightbox.lightbox.lightbox-shown
  .lightbox-close,
  .lightbox-prev,
  .lightbox-next
    transition-delay: $lightbox-nav-transition-delay

crystal-lightbox.lightbox.lightbox-light
  color: $lightbox-light-color

crystal-lightbox.lightbox
  color: $lightbox-dark-color
  text-shadow: $lightbox-text-shadow
  z-index: $lightbox-z-index
  .lightbox-preloader
    background: $lightbox-preloader-background
  .lightbox-counter 
    font-size: $lightbox-counter-font-size
  .lightbox-error
    color: $lightbox-error-color
    font-size: $lightbox-error-font-size
  .lightbox-prev,
  .lightbox-next 
    transition: $lightbox-nav-transition
  .lightbox-counter,
  .lightbox-close,
  .lightbox-prev,
  .lightbox-next
    transition: $lightbox-nav-transition